<h1>Edit Profile Pic</h1>
<%=form_for @user, html: { multipart: true } do |f| %>
<%=f.hidden_field :username %> <br>
<%=f.hidden_field :email %> <br>
<%= f.file_field :image, class: "form-control" %>
<%=f.hidden_field :password %> <br>
<%=f.hidden_field :password_confirmation %> <br>
<%=f.submit %>
<%end %>
