<h3>Please Sign Up Here: </h3><br>
<%= flash[:notice] %>
<br>

<%=form_for @user do |f| %>
<%=f.label :username %>
<%=f.text_field :username %> <br>
<%=f.label :email %>
<%=f.email_field :email %> <br>
<%=f.label :password %>
<%=f.password_field :password %> <br>
<%=f.label :password_confirmation %>
<%=f.password_field :password_confirmation %> <br>
<%=f.label :upload_profile_picture %><br><br>
<%= f.file_field :image %><br><br>

    <%=f.submit %>

<%end %>
