<h1><%= @user.username %></h1> <h1><%= @user.email %></h1>

<div class="container" align="right">
  <% if @comments.length != 0 %>
      <p>recent comments:</p>
      <% @comments.each do |comment| %>
      <%= link_to comment.user.username, user_path(comment.user) %>:   <%= comment.content %> <br>
    <% end %>
  <% end %>
</div>

<div class="container" align="right">
  <p>trendin tags</p>
<% Tag.trending.each do |tag| %>
     <%= link_to tag.name, tag_path(tag) %>
<% end %>
</div>

<div class="container" align="right">
  <p>most populare:</p>
<% Tag.most_popular.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
<% end %>
</div>

<div class="container" align="center">
    <% @sorted.reverse.each do |picture| %>
        <div class="row">
            <div class="col s12">
              <%=  link_to image_tag("#{picture.image_url}"), user_picture_url(@user.id, picture) %>
          </div>
        </div>
    <% end %>
</div>


<div class="container">
    <% if current_user.id == @user.id %>
        <%=form_for @picture, url: user_pictures_path(@user), :controller => "pictures", :action => "create" do |f| %>
        <%=f.label :image_url %>
        <%=f.text_field :image_url %>
        <%=f.label :title %>
        <%=f.text_field :title %>
        <%=f.label :tag %>
          <%=fields_for :tag, @tag do |ff| %>
              <%=ff.text_field :name %>
          <% end %>
        <%=f.hidden_field :user_id, :value => @user.id %>

        <br>
        <br>
        <table border = "1">
            <tr>
                <%= collection_check_boxes(:picture, :tag_ids, Tag.all, :id, :name) do |b| %>
                <!-- <td><%= b.label { b.check_box(class: "check_box") + b.text} %></td> -->

                <input type="checkbox" class="filled-in-box" id="<%=b.object[:id]%>" name="picture[tag_ids][]" value="<%=b.object[:id]%>" />
                     <label for="<%=b.object[:id]%>"><%=b.text%></label>
                <% end %>
            </tr>
        </table>

        <%=f.submit "Add Photo" %>
      <% end %>
    <% end %>
</div>
