
<center>
  <br>
  <div class="row">
      <div class="col s12">
        <div class="card-panel white">
            <%= image_tag(@user.user_pic, class: "responsive-img")  %>
            <h5><%= @user.username %></h5>
            <h5><%= @user.email %></h5>
            <p>Bio:</p>
            <p><%= BetterLorem.c(80, true, true) %></p>
            <%= link_to user_path(current_user, anchor: "bottom") do %>
            <!-- i want this to link to the bottom upload field -->
              <i class="small material-icons">library_add</i>
                <% end %>
                <% if current_user.id == @user.id %>
                <p><%= link_to "Edit Prof Pic", edit_user_path(current_user)%></p>
                <% end %>
              </div>
          </div>
        </div>
      </div>
</center>


<div class="container">



    <div class="row">
            <div class="col s2 left" >
                <p>Popular Tags:</p>
                  <% Tag.most_popular.each do |tag| %>
                            <div class="chip">
                              <%= link_to tag.name, tag_path(tag) %>
                            </div>
                    <% end %>
            </div>

            <div class="col s3 push-s3 ">
                 <p>recent comments:</p>
                 <% @comments.take(3).each do |comment| %>
                 <%= link_to comment.user.username, user_path(comment.user) %>:   <%= comment.content %> <br>
               <% end %>
            </div>

              <div class="col s2 push-s5">
                  <p>trending now:</p>
              <% Tag.trending.each do |tag| %>
                    <div class="chip right">
                      <%= link_to tag.name, tag_path(tag) %>
                    </div>
              <% end %>
            </div>
    </div>


<!-- <div class="container"> -->


<div class="row">
    <div class="col m12" padding-top: "40px">

              <% @sorted.reverse.each do |picture| %>
              <center><div class="card">
                  <div class="card-image">
                <div class="row">
                  <p><div class="col s12 center"></p>
                    <div class="pix"> <%=  link_to image_tag("#{picture.image_url}"), user_picture_url(@user.id, picture) %>
                    </div>
                  </div>
                </div>
              </div>
            </div></center>
              <% end %>

        </div>
      </div>
<!-- </div> -->


        <div class="row">
            <div class="col s6 offset-s3">
                <div class="flash" align="center">
                        <h1><%= flash[:notice] %></h1>
                </div>
            </div>
        </div>



        <% if current_user.id == @user.id %>
            <%=form_for @picture, url: user_pictures_path(@user), :controller => "pictures", :action => "create" do |f| %>
            <div class="row" align="center" id="bottom">
                    <div class="col s10 offset-s1", align="center">
                        <!-- <%=f.label :image_url %> -->
                    <%=f.text_field :image_url, :placeholder => "Please enter an image address (jpeg, png, gif)"%>
                    </div>

                        <div class="col s8 offset-s2">
                            <!-- <%=f.label :title %> -->
                            <%=f.text_field :title, placeholder: "enter a caption here!" %>
                        </div>

                        <div class="col s6 offset-s3">
                            <%=fields_for :tag, @tag do |ff| %>
                            <!-- <%=f.label :tag %> -->
                                <%=ff.text_field :name,  placeholder: "Create a new tag" %>
                            <% end %>
                        </div>

            <%=f.hidden_field :user_id, :value => @user.id %>
        </div>


        <div class="row" align="center" text-align="top">
            <div class="col m6 offset-m3">
                    ...or choose one of the most popular tags below!
            </div>
        </div>


            <table>
                <tr>
                    <%= collection_check_boxes(:picture, :tag_ids, Tag.most_popular, :id, :name) do |b| %>
                    <td><input type="checkbox" class="filled-in-box" id="<%=b.object[:id]%>" name="picture[tag_ids][]" value="<%=b.object[:id]%>" />
             <label for="<%=b.object[:id]%>"><%=b.text%></label>    </td>

                    <% end %>
                </tr>
            </table>








            <div class="row" align="center">
                <div class="col m12">
                    <i class="4rem material-icons">fast_forward</i>

                            <!-- <div class="col s4 offset-s5"> -->
                                <button class="btn waves-effect waves-light" type="submit" name="action" >
                                   <%=f.submit "Add Photo" %>
                                </button>
                            <!-- </div>
                 -->

                    <i class="4rem material-icons">fast_rewind</i>
                </div>
            </div>




          <% end %>
        <% end %>


</div>
