<h1><%= @user.username %></h1>
<h2><%= @user.email %></h2>

<% @pictures.each do |picture| %>
<%=  link_to image_tag("#{picture.image_url}"), user_picture_url(@user.id, picture) %>
<% end %>

<% if current_user.id == @user.id %>
    <%=form_for @picture, url: user_pictures_path(@user), :controller => "pictures", :action => "create" do |f| %>
    <%=f.label :image_url %>
    <%=f.text_field :image_url %>
    <%=f.label :title %>
    <%=f.text_field :title %>
    <%=f.hidden_field :user_id, :value => @user.id %>
<% end %>

<br>

<% @tags.each do |tag| %>
    <%= f.fields_for :tags, tag do |ff| %>
        <%= tag.name %> <%= ff.check_box :name %> <br>
        <% end %>
    <% end %>
    <%=f.submit "Add Photo", {:controller => "picturestags", :action => "create", :method => "post", "picture_id" => @picture.id} %>

<% end %>
