<h1><%= @user.username %></h1>
<h2><%= @user.email %></h2>

<% @pictures.each do |picture| %>
  <%=  link_to image_tag("#{picture.image_url}"), user_picture_url(@user.id, picture) %>
<% end %>

<% if current_user.id == @user.id %>
    <%=form_for @picture, url: user_pictures_path(@user), :controller => "pictures", :action => "create" do |f| %>
    <%=f.label :image_url %>
    <%=f.text_field :image_url %>
    <%=f.label :title %>
    <%=f.text_field :title %>
    <%=f.hidden_field :user_id, :value => @user.id %>
    <br>
    <br>
    <%= collection_check_boxes(:picture, :tag_ids, Tag.all, :id, :name) do |b| %>
    <%= b.label { b.check_box + b.text } %>
    <% end %>

    <%=f.submit "Add Photo" %>
  <% end %>
<% end %>
