<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo"><img src="http://i.imgur.com/CrdKavI.png"></a>
        <div class="container">
        <ul id="nav-mobile" class="right hide-on-med-and-down">

          <li><%=link_to "My Feed", user_path(current_user)%></li>
          <li><%=link_to "Friends", users_path %></li>
          <li><%=link_to "Tags", tags_path %></li>


        </ul>

      </div>

    </nav>

      <%= yield %>
    </div>
  </body>
</html>
