<!DOCTYPE html>
<html>
  <head>
    <title>Outstagram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Slabo+27px|Titillium+Web|VT323|Yanone+Kaffeesatz" rel="stylesheet">

  </head>

  <body>
<div class="container">


    <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><%= image_tag('logo.png') %></a>
      <div class="container">
        <div class="row">
        <div class="col s5">
            <% if logged_in? %>
            <%= "Welcome #{current_user.username}!" %>
            <% end %>
        </div>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if logged_in? %>
        <li><%=link_to "My Feed", user_path(current_user)%></li>
        <li><%=link_to "Friends", users_path %></li>
        <li><%=link_to "Tags", tags_path %></li>
        <li><%=link_to "Log Out", logout_path, method: :delete %></li>
        <i class="large material-icons">power_settings_new</i>
        <% else %>
        <li><%=link_to "Log In", login_path %></li>
        <li><%=link_to "Sign Up", signup_path %></li>
        <% end %>

      </ul>

        </div>

      </div>

    </div>

  </nav>

    <%= yield %>
    </div>
  </body>
</html>
