<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="container" align="center">
          <% if logged_in? %>
          <%= "Hi #{current_user.username}" %>
          <%= link_to "Log Out", user_path(current_user), method: :delete %>
          <% end %>
          <%= link_to 'Back', :back %>
      </div>

    <%= yield %>
  </body>
</html>
